<h1>Create Survey!</h1>

<%= form_with(url: "/handle_create_survey") do |form| %>
    <%= form.label "Survey name (is case-sensitive and must be unique)" %>
    <br/>
    <%= form.text_field :name, class: "form-control" %>
    <br/>
    <%= form.label "Deadline" %>
    </br>
    <%= form.datetime_select :deadline, class: "form-control" %>
    <%= form.text_field :courseId, type: "hidden", value: @courseId %>
    </br>
    </br>
    <%= form.submit class: "btn btn-secondary" %>
<% end %>
