<h1>Sign up</h1>

<%= form_for @user do |form| %>
    <%= form.label :name %>
    <p>(is case-sensitive and must be unique)</p>
    <%= form.text_field :name, class: "form-control" %>
    <br/>
    
    <%= form.label :user_type %><br />
    <%= form.radio_button :user_type, 'student'%> student<br />
    <%= form.radio_button :user_type, 'instructor'%> instructor<br />
    <br/>
    
    <%= form.label :password %>
    <p>(must be at least 6 characters)</p>
    <%= form.password_field :password, class: "form-control" %>

    <%= form.submit %>
<% end %>
