<h1>Sign In</h1>

<%= form_with model: @user do |form| %>
    <%= form.label :name %>
    <p class = "label-text">(case-sensitive)</p>
    <%= form.text_field :name, class: "form-control" %>

    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
    </br>
    <%= form.submit "Sign In", class: "btn btn-secondary" %>
<% end %>
