<h1>Login!</h1>

<%= form_with model: @user do |form| %>
    <%= form.label :name %>
    <p>(case-sensitive)</p>
    <%= form.text_field :name, class: "form-control" %>

    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
    </br>
    <%= form.submit "Log in", class: "btn btn-secondary" %>
<% end %>
